<ion-content>
  <div class="register-container">
    <form class="register-card" [formGroup]="registerForm" (ngSubmit)="register()">
      <img src="assets/logo.png" alt="Logo" class="logo" />
      <h2>Buat Akun Baru</h2>

      <ion-item lines="none" class="input-item">
        <ion-input
          formControlName="nama"
          type="text"
          label="Nama Lengkap"
          label-placement="floating"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-input
          formControlName="email"
          type="email"
          label="Email"
          label-placement="floating"
          required
        ></ion-input>
      </ion-item>

      <ion-item lines="none" class="input-item">
        <ion-input
          formControlName="password"
          type="password"
          label="Password"
          label-placement="floating"
          required
        ></ion-input>
      </ion-item>

      <ion-button expand="block" class="register-btn" type="submit" [disabled]="!registerForm.valid">
        REGISTER
      </ion-button>

      <p class="login-text">
        Sudah punya akun?
        <a class="login-link" routerLink="/login">Login di sini</a>
      </p>
    </form>
  </div>
</ion-content>
